html {
    box-sizing: border-box;
    font-family: "Lucida Grande", Verdana, Geneva, Helvetica, Arial, sans-serif;
}

/*Header start*/
/*Navigation bar start*/

.navigation-bar li {
    display: inline-block;
    color: white;
    padding: 0px 18px;

    text-decoration: none;
}
.navigation-bar li a {
    text-decoration: none;
    color: white;
}

#Header {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 40px;
    width: 100%;
}
#Header .navigation-bar input {
    width: 100px;
}
.ti-angle-down {
    color: white;
}
#Header .nav-arrow-down {
    font-size: 10px;
}
/*Navigation bar end*/
/*Header end*/
/*Content start*/
body {
    background-color: #e1dcc5;
}
.box h3 {
    display: flex;
    align-items: flex-start;
    margin-top: 0px;
}
#content {
    margin-top: 50px;
}
#content li {
    list-style: none;
}
.box {
    text-align: left;
    height: 150px;
    width: 600px;
    background-color: white;
    border-radius: 1px;
    padding: 16px;
    box-sizing: border-box;
}
.box h3 {
    color: #02598b;
}

.small-box {
    display: inline-block;
    border: 1px solid black;
    background-color: #fcfbf7;
    margin-left: 15px;
}
.small-box h4 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 10px;
}
.small-box h6 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 8px;
}

/*Content end*/
/*Footer start*/

/*Footer end*/


#Trending\ Books-list,
#Classic\ Books-list,
#Books\ We\ Love-list,
#Recently-returned-list,
#Romance-list,
#Kids-list, 
#Thrillers-list,
#Textbooks-list {
    display: flex; /* Hiển thị các phần tử theo hàng ngang */
    gap: 30px; /* Khoảng cách giữa các cuốn sách */
}

.book-item {
    display: flex;
    flex-direction: column; /* Sắp xếp phần tử theo cột */
    align-items: center; /* Canh giữa nội dung theo chiều ngang */
}

.book-item img {
    margin-bottom: 10px; /* Thêm khoảng cách giữa ảnh và nút */
}

.book-item button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.book-item button:hover {
    background-color: #0056b3; /* Thay đổi màu khi hover */
} 